/*

PushIn.js
=========

PushIn.js is a JQuery plugin which can be attached to any
div element to simulate a dolly-in or push-in effect.

*/


/*html { height: 500%; }   Adjusts length of scroll-time 
body { height: 100%; } */



/*
Hides layer at start, for multiple layer projects
Override this for first layer if needed
*/
.layer { opacity: 0; }