{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": ["dist/*"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "prettier/prettier": ["error"]
  }
}
