{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "prettier/prettier": [
      "error"
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-restricted-syntax": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "stories/**/*",
          "**/*.spec.js",
          "rollup.config.js"
        ]
      }
    ]
  }
}
