node_modules
.DS_Store
*.backup

#testing
lt.log
.nyc_output
coverage
.eslintcache
.cache

#docs
/docs/index.html
/docs/pushin.min.css
/docs/pushin.min.js
/docs/examples
/docs/installation
/docs/api
/docs/target
/docs/composition
