extends layout.pug

block append head
	title PushIn.js - Examples: The Cat

block append styles
	style.
		body {
			background-color: #EBE6CD;
		}
		.pushin {
			height: 5000px;
		}

		.wall {
			position: absolute;
			width: 40%;
			top: 41.3%
		}

		.light {
			width: 13%;
			position: absolute;
			top: 33%;
		}

		.chair {
			width: 30%;
			position: absolute;
			top: 52%;
			left: 0%;
		}

		.tv {
			width: 30%;
			position: absolute;
			top: 51%;
			right: 0%;
		}

		.sofa {
			width: 40%;
			position: absolute;
			bottom: 40%;
		}

		.floor {
			background-color: #BCC0C9;
			width: 100%;
			height: 43%;
			position: absolute;
			bottom: 0;
		}

		.ceiling {
			background-color: #C0A592;
			width: 100%;
			height: 42.2%;
			position: absolute;
			top: 0;
		}

		.plant {
			width: 10%;
			position: absolute;
			bottom: 40%;
			right: 31%;
		}

		.table {
			background-color: #3A596B;
			width: 100%;
			height: 40.5%;
			position: absolute;
			bottom: 0;
		}

block content
	div.pushin
		div.pushin-scene
			div.pushin-scene-container
				div.pushin-layer.layer-1(data-pushin-from="-200" data-pushin-to="1000" data-pushin-speed="80")
					div.table
					div.plant
						include images/plant.svg

				div.pushin-layer.layer-2(data-pushin-from="-200" data-pushin-to="5200" data-pushin-speed="16")
					div.light
						include images/light.svg
					div.chair
						include images/chair.svg
					div.tv
						include images/tv.svg

				div.pushin-layer.layer-3(data-pushin-from="-200" data-pushin-to="5200" data-pushin-speed="10")
					div.sofa
						include images/livingroom-3.svg

				div.pushin-layer.layer-4(data-pushin-from="-200" data-pushin-to="5200")
					div.floor

				div.pushin-layer.layer-5(data-pushin-from="-200" data-pushin-to="5000")
					div.ceiling
					div.wall
						include images/livingroom-4.svg
