extends layout.pug
block append head
	title PushIn.js - Composition

block append styles 
	style.
		#composition-demo-1 {
			height: 350px;
			border: dashed grey 1px;
		}
		#composition-demo-1 .pushin-scene {
			background: linear-gradient(180deg, rgba(227,240,251,1) 0%, rgba(255,254,253,1) 35%, rgba(255,254,252,1) 47%, rgba(249,245,210,1) 50%, rgba(247,240,210,1) 70%, rgba(238,223,211,1) 100%);
		}


block content
	header.container.py-5.bg-white
		div.row
			h1.my-4 Frame your scene with Composition
			div
				p.lead Positioning elements within a scene while keeping your site responsive can be quite a challenge. The Composition feature is designed to make that process a bit easier.
	section.container.mb-5
		.row 
			.col
				h2 Getting started with Composition
				p The easiest way to add Composition to your scene is by adding the #[code pushin-composition] class to a containing element that wraps all your pushin-layers. 
				p The following is an example of the pushin-composition class in action:
				+code.rounded: :highlight(html)
					<div class="pushin">
					  <div class="pushin-scene">
					    <div class="pushin-composition">
					      <div class="pushin-layer" data-pushin-transitions="false" data-pushin-from="0" data-pushin-to="0" data-pushin-speed="18">
					        <img src="cactus.svg" style="width: 8%; bottom:46%; left:30%;">
					      </div>
					      <div class="pushin-layer" data-pushin-transitions="false" data-pushin-from="0" data-pushin-to="0">
					        <img src="monster.svg" style="width: 10%; bottom:47%; right:40%">
					      </div>
					    </div>
					  </div>
					</div>
				#composition-demo-1.my-5
					.pushin 
						.pushin-scene 
							.pushin-composition
								.pushin-layer(data-pushin-transitions="false" data-pushin-from="0" data-pushin-to="0" data-pushin-speed="18")
									img.position-absolute(src="/pushin/images/pushin-monster-cactus.svg" style="width: 8%; bottom:46%; left:30%;")
								.pushin-layer(data-pushin-transitions="false" data-pushin-from="0" data-pushin-to="0")
									img.position-absolute(src="/pushin/images/pushin-monster.svg" style="width: 10%; bottom:47%; right:40%")
				p In the above example, you can see that the distance between the cactus and the monster will remain the same no matter how your resize your screen.
	section.container.mb-5
		.row.mb-5
			.col
				h2 How does it work?
				p When positioning elements inside of a responsive container, you'll find that resizing the screen will change their position. The elements will drift around your scene, and it's nearly impossible to keep the same composition because the ratio of the width to the height of your frame is changing.
				p The Composition feature locks the aspect ratio of this frame so that when resizing the window, your elements don't drift around. This will allow you to more easily compose a scene while still building for responsive design.
				p By default, Composition comes with a 1:2 aspect ratio. This is the recommended aspect ratio to ensure that when you're viewing your scene on a mobile phone, you do not see it cropped on the top and bottom. 
		.row.mb-5
			.col
				h2 When should I use Composition?
				p You don't always need to use Composition, if you are not necessarily worried about elements drifting a little between devices, if you are using relative positioning, or if all your items are center screen.
				p If you are trying to compose a scene of multiple elements that should be positioned in a specific way, you should most definitely use Composition.
		.row.mb-5
			.col
				h2 Customization
				p You can change the aspect ratio of your composition by using an HTML attribute or the JavaScript API.
				p.fw-bold Using HTML attributes
				+code.rounded.mb-5: :highlight(html)
					<div class="pushin-composition" data-pushin-ratio="16,9">
					  <!-- Use a 16:9 composition -->
					</div>
				p.fw-bold Using JavaScript API
				+code.rounded.mb-5: :highlight(js)
					// Option 1: Global function
					pushInStart({
					  composition: {
					    ratio: [16, 9],
					  }
					});

					// Option 2: Class constructor
					const pushIn = new PushIn(
					  document.querySelector('.pushin'),
					  {
					    composition:{
					      ratio: [16, 9],
					    }
					  }
					);
					pushIn.start();
		.row.mb-5
			.col
				h2 Tips and Tricks
				p There are a few tricks which have proven helpful when building complex scenes:
				ol 
					li When working with graphics, build the entire composition in the aspect ratio you want it to be, and export the layers separately.
					li SVG Graphics work best, since you will be scaling them quite a lot.
					li For precise positioning, try using #[code position: absolute;] and use percentages to position your elements (rather than pixels). This will help your scene scale with the device size.
block scripts
	script( defer ).
		document.addEventListener( 'DOMContentLoaded', function() {
			pushInStart({ target: '#composition-demo-1' });
			
		} );