/*

PushIn.js - Demo CSS
=========

CSS document for working sample. This CSS is not required
to use this plugin on your code.

*/

html {
	height: 100%;
}

body {
	height: 1000%;
    font: 100%/1 'Arial', sans-serif
}

* {
	box-sizing: border-box;
	margin: 0;
}

h1 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 0.8em;
}

ul {
    margin-top: 1.2em;
}

.demo-scroller {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

.demo-text-box {
    position: absolute;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1em;
    font-size: 3em;
    font-weight: 700;
}

@media ( min-width: 768px ) {
    .demo-text-box {
        padding: 2em;
    }
}

.demo-scroller {
    background-color: rgba( 0,0,0,0.2 );
}

.demo-padded {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

@media (min-width: 768px) {
    .demo-padded {
        padding: 15px 60px;
    }
}

.demo-header {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

footer {
    position: fixed;
    z-index: 10;
    bottom: 1em;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer ul {
    padding: 0;
    list-style: none;
    text-align: right;
}

footer li {
    display: inline-block;
}

footer a {
    padding: 1em;
    background-color: white;
    border-radius: 13px 0 0;
}

footer img {
    height: 16px;
    vertical-align: text-top;
}

/*
 *  LAYERS
 */

.demo-layer-1-text {
    top: 60%;
    left: 10%;
    background-color: rgb(181, 247, 247);
    max-width: 300px;
}

@media ( min-width: 768px ) {
    .demo-layer-1-text {
        left: 10%;
        top: 220px;
        max-width: 400px;
    }
}

.demo-layer-2-text {
    top: 10px;
    right: 3%;
    background-color: rgb(243, 204, 154);
    transform: scale(0.5);
    max-width: 600px;
}

@media ( min-width: 768px ) {
    .demo-layer-2-text {
        top: 40%;
    }
}

@media ( min-width: 1100px ) {
    .demo-layer-2-text {
        right: 15%;
        top: 15%;
    }
}

.demo-layer-3-text {
    background-color: rgb(116, 61, 187);
    color: white;
    max-width: 700px;
    left: -5%;
    top: 30%;
    font-size: 1.75em;
    line-height: 1.5;
    transform: scale( 0.5 );
}

@media ( min-width: 768px ) {
    .demo-layer-3-text {
        top: 10%;
        font-size: 3em;
    }
}

@media ( min-width: 1100px ) {
    .demo-layer-3-text {
        top: 20%;
        left: 5%;
    }
}

.demo-layer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale( 0.01 );
}

.demo-layer-end-text {
    font-size: 1.75em;
}