extends layout.pug

block append head
	title PushIn.js

block append styles
	style.
		.demo-card-1 {
			left: 5%;
			top: 60%;
			max-width: 16rem;
		}

		@media ( min-width: 768px ) {
			.demo-card-1 {
				top: 50%;
				max-width: 19rem;
			}
		}

		.demo-card-2 {
			right: -20%;
			top: 30%;
			transform: scale(0.5);
			max-width: 37.5rem;
		}

		@media ( min-width: 768px ) {
			.demo-card-2 {
				right: 0;
				top: 40%;
			}
		}

		.demo-card-3 {
			background-color: rgb(116, 61, 187);
			max-width: 43.75rem;
			left: 0;
			top: 40%;
			transform: scale( 0.5 );
		}


block content
		header.container-fluid.py-5.bg-white.mt-5.mt-md-0.position-relative(style="z-index:1")
			div.row.justify-content-center
				h1.col-10.col-lg-7.my-4 PushIn.js
				div.col-10.col-lg-7
					p.lead PushIn.js is a lightweight parallax effect, built with JavaScript, that simulates an interactive dolly-in or push-in animation on a webpage.
					p Scroll down below to try out the effect, or browse other examples:
					ul
						li
							a(href='simple.html') Simple - Zero configuration
						li
							a(href='responsive.html') Responsive design
						li
							a(href='cat.html') Building scenes with images - The cat
		main
			section.pushin.bg-secondary.bg-opacity-25
				div.pushin-scene
					div.pushin-layer
						div.card.bg-info.bg-gradient.shadow-lg.position-absolute.demo-card-1
							div.card-body.fs-1.fw-bold.p-5 Scroll to push in
					div.pushin-layer
						div.card.bg-warning.bg-gradient.shadow-lg.position-absolute.demo-card-2
							div.card-body.fs-1.fw-bold.p-5 Each layer can come into view at different times.
					div.pushin-layer
						div.card.bg-gradient.text-light.shadow-lg.position-absolute.demo-card-3
							div.card-body.fs-1.fw-bold.p-5
								| Use HTML 
								a(href="https://github.com/nateplusplus/pushin/blob/main/docs/html-attributes.md" target="_blank").text-light data-attributes
								|  to control the timing and speed of each layer.
					div.pushin-layer
						div.position-absolute.fs-1.fw-bold.p-5 PushIn.js
			section.container-fluid.py-5.bg-white.position-relative
				div.row.justify-content-center
					div.col-10.col-lg-7.pt-4
						h2 Compatibility
						p PushIn.js supports all browsers that are ES5-compliant (IE8 and below are not supported).
					div.col-10.col-lg-7.pt-4
						h2 How does it work?
						p
							| This plugin uses a combination of JavaScript and CSS to create the illusion of objects moving forward or backward by manipulating their scale while the user scrolls on the page. The effect uses the modern browser's built in 
							a(href="https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame", target="_blank", rel="noopener noreferrer nofollow") requestAnimationFrame
							|  to deliver a performant experience that is cross-browser compatible.
						ul
							li Zero dependencies!
							li No canvas elements!
							li No webGL!
							li No flash!
					div.col-10.col-lg-7.pt-4
						h2 How much does this cost?
						p It's completely free open source code under the MIT License!
					div.col-10.col-lg-7.pt-4
						h2 How can I use it on my site?
						p
							| Check out the 
							a(href="https://github.com/nateplusplus/pushin") GitHub README
							|  to learn more about how to use this on your own projects.
					div.col-10.col-lg-7.pt-4
						h2 What do I do if I'm experiencing an issue?
						p
							| Please submit a 
							a(href="https://github.com/nateplusplus/pushin/issues/new?assignees=&labels=&template=bug_report.md&title=") bug report
							|  so I can put on my detective hat and look into it further!
block scripts
	script( defer ).
		var pushInOptions = {
			scene: {
				breakpoints: [768, 1440, 1920, 2560],
				inpoints: [200],
				fixedRatio: [1, 2],
			},
			layerOptions: [
				{ outpoints: [1000] },
				{ inpoints: [700], outpoints: [2500] },
				{ inpoints: [1500], outpoints: [3000] },
				{ inpoints: [2000], outpoints: [6000], speed: 25 },
			],
		};
		document.addEventListener( 'DOMContentLoaded', function() {
			pushInStart(pushInOptions);
		} );