extends layout.pug

block append head
	title PushIn.js - Examples: Images

block append styles
	style.
		body {
			background-color: #EBE6CD;
		}
		.pushin {
			height: 5000px;
		}

		.layer-container {
			position: relative;
			width: 100%;
			padding-top: 50%;
		}
		.layer-inner {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.square-container {
			padding-top: 101%;
		}

		.vertical-container {
			padding-top: 201%;
		}

		.wall {
			position: absolute;
			width: 40%;
			top: 41.3%
		}

		.layer-3 svg {
			width: 40%;
			align-self: flex-end;
			margin-bottom: 5%;
		}

		.light {
			width: 13%;
			position: absolute;
			top: 16%;
		}

		.chair {
			width: 30%;
			position: absolute;
			top: 49%;
			left: 0%;
		}

		.tv {
			width: 30%;
			position: absolute;
			top: 48%;
			right: 0%;
		}

		.plant {
			width: 10%;
			position: absolute;
			bottom: 32%;
			right: 31%;
		}

		.floor {
			background-color: #BCC0C9;
			width: 100%;
			height: 41%;
			position: absolute;
			bottom: 0;
		}

		.ceiling {
			background-color: #C0A592;
			width: 100%;
			height: 42.2%;
			position: absolute;
			top: 0;
		}

		.table {
			background-color: #3A596B;
			width: 100%;
			height: 32%;
			position: absolute;
			bottom: 0;
		}

block content
	div.pushin
		div.pushin-scene
			div.pushin-layer.layer-1(data-pushin-from="-200" data-pushin-to="1000" data-pushin-speed="80")
				div.layer-container.square-container
					div.layer-inner
						div.table
						div.plant
							include images/plant.svg
			div.pushin-layer.layer-2(data-pushin-from="-200" data-pushin-to="5200" data-pushin-speed="16")
				div.layer-container.square-container
					div.layer-inner
						div.light
							include images/light.svg
						div.chair
							include images/chair.svg
						div.tv
							include images/tv.svg
			div.pushin-layer.layer-3(data-pushin-from="-200" data-pushin-to="5200" data-pushin-speed="10")
				div.layer-container
					div.layer-inner
						include images/livingroom-3.svg
			div.pushin-layer.layer-4(data-pushin-from="-200" data-pushin-to="5200")
				div.layer-container.vertical-container
					div.layer-inner
						div.floor
			div.pushin-layer.layer-5(data-pushin-from="-200" data-pushin-to="5000")
				div.layer-container.vertical-container
					div.layer-inner
						div.ceiling
						div.wall
							include images/livingroom-4.svg
