doctype html
html
	head
		title PushIn.js - Examples: Responsive
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link( href='demo.css' rel='stylesheet' )
		style.
			.pushin-layer { padding: 0 3em; }
			.pushin {
				background-color: lightgrey;
				z-index: -1;
			}
			.demo-header {
				margin-top: 50px;
			}
			@media (min-width: 768px) {
				.demo-header {
					margin-top: 0;
				}
			}
	body
		header.demo-header
			h1.demo-padded Responsive design
			p.demo-padded
				| This example illustrates some of the responsive design features built into pushIn.js. 
				| These features can help you control the layout and behavior of the effect for each of your breakpoints,
				| giving you a great amount of flexibility.
			h2.demo-padded Why is this necessary?
			p.demo-padded
				| When there is a lot of wrapping content like paragraphs of text,
				| the page content could become longer on smaller screens like phones or tablets.
				| This could interfere with the timing of pushIn.js animations, since it relies directly 
				| on the window scroll position. This is where specifying different settings per breakpoint
				| can come in handy.
		main
			div.pushin
				div.pushin-scene(data-breakpoints='768, 1440')
					div.pushin-layer(data-pushin-from='580,230,200')
						p This should begin animating at:
						ul 
							li Mobile: 580px
							li Tablet: 230px
							li Desktop: 200px
					div.pushin-layer Layer 2
					div.pushin-layer Layer 3
					div.pushin-layer Layer 4
		footer
			ul
				li
					a(href="https://github.com/nateplusplus/pushin-js") View on github 
						include github.svg
			script( defer ).
				document.addEventListener( 'DOMContentLoaded', function() {
					pushInStart( { debug: true } );
				} );