doctype html
html
	head
		title PushIn.js - Examples: Simple
		link( href='demo.css' rel='stylesheet' )
	body
		div.pushin
			div.pusin-scene
				div.pushin-layer This example demonstrates the simplest, zero-configuration setup for pushin.js.
				div.pushin-layer These layers are added to the HTML without any parameters or extra CSS.
				div.pushin-layer Pushin.js has configured the timing of this effect automatically to adjust for the number of layers.
				div.pushin-layer The scroll length increases to accommodate all layers in an evenly-spaced animation.
	footer
		ul
			li
				a(href="https://github.com/nateplusplus/pushin-js") View on github 
					include github.svg
		script( defer ).
			document.addEventListener( 'DOMContentLoaded', function() {
				pushInStart();
			} );